/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = lighten(cornflowerblue, 20%)
$textColor = cornflowerblue
$borderColor = rgba(0,0,0,.05)
$codeBgColor = #000
$arrowBgColor = #ccc
